# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.metadata/
/HelloWorld.class
/client.class
/Client.class
/Serverside.class
/Dsender.class
/Dreceiver.class
/StreamReceiver.class
/StreamSender.class
/StreamReciever.class
/MyThread.class
/Pickcard.class
